@model Warehouse.Application.ViewModels.CheckInOut.StructuresListForCheckOutVM

@{
    ViewData["Title"] = "View";
}

<h1>Lista struktur</h1>
<form asp-action="StructuresList" asp-controller="CheckInOut" method="post">
    <div class="container">
        <div class="row align-items-center p-3">
            <input class="col-4 m-1 form-control" type="text" asp-for="SearchString" name="searchString" />
            <input class="col-2 m-1 btn btn-primary" type="submit" value="Szukaj" />
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa struktury
            </th>
            <th>
                Produkt
            </th>
            <th>
                Projekt
            </th>
            <th>
                Przedmiot
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model.Structures)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => s.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => s.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => s.Project)
                </td>
                <td>
                    @foreach (var i in s.Items)
                    {
                        <strong>@Html.DisplayFor(modelItem => i.CheckInOutQty) x </strong>
                        <a>@Html.DisplayFor(modelItem => i.Name)</a>
                        <small>
                            <a> | Wszystkich:</a>
                            <a>@Html.DisplayFor(modelItem => i.Quantity)</a>
                        </small><br />
                    }
                </td>
                <td>
                    <form asp-action="CheckOutStructureItems" asp-controller="CheckInOut" method="post">
                        <input type="hidden" name="structureId" value="@s.StructureId" />
                        <input type="submit" value="Pobierz przedmioty struktury" class="btn btn-primary" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
