@model Warehouse.Application.ViewModels.Structure.StructuresListForListVM

@{
    ViewData["Title"] = "Lista struktur";
}

<h1>Lista struktur</h1>

@if (User.HasClaim(c => c.Value == "EditStructure"))
{
    <p>
        <a asp-action="EditStructure">Utwórz nową strukturę</a>
    </p>
}
    <form asp-action="StructuresList" asp-controller="Structure" method="post">
        <div class="row">
            <input class="col-4 m-1 form-control-sm" type="text" asp-for="SearchString" name="searchString" />
            <input class="col-2 m-1 btn btn-sm btn-primary"  type="submit" value="Szukaj" />
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Nazwa
                    </th>
                    <th>
                        Produkt
                    </th>
                    <th>
                        Projekt
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var s in Model.Structures)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => s.StructureId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => s.StructureName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => s.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => s.Project)
                        </td>
                        <td>
                            @Html.ActionLink("Edytuj", "EditStructure", new { id = s.StructureId }) |
                            @Html.ActionLink("Szczegóły", "StructureDetails", new { id = s.StructureId }) |
                            @Html.ActionLink("Usuń", "SetIsDeletedStructure", new { id = s.StructureId })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
