@model Warehouse.Application.ViewModels.Structure.StructureDetailsVM

@{
    ViewData["Title"] = "Szczegóły struktury";
}

<h1 class="mb-2">Szczegóły struktury</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            Id struktury:
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.StructureId)
        </dd>
        <dt class = "col-sm-4">
            Utworzene przez:
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.CreatedById)
        </dd>
        <dt class = "col-sm-4">
            Data utworzenia:
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>
        <dt class = "col-sm-4">
            Zmodyfikowane przez:
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ModifiedById)
        </dd>
        <dt class = "col-sm-4">
            Data ostatniej modyfikacji:
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ModifiedDateTime)
        </dd>
        <dt class = "col-sm-4">
            Nazwa produktu:
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-4">
            Nazwa struktury:
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.StructureName)
        </dd>
        <dt class = "col-sm-4">
            Projekt:
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Project)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edytuj", "EditStructure", new { id = Model.StructureId }, new { @class = "btn btn-primary" }) |
    <a class="btn btn-secondary" asp-action="StructuresList">Wróć do listy struktur</a> |
    @Html.ActionLink("Lista przedmiotów dla struktury", "ItemsListFromStructure", "Item", new { structureId = Model.StructureId }, new { @class = "btn btn-primary" })
</div>
