@model Warehouse.Application.ViewModels.Structure.StructureDetailsVM

@{
    ViewData["Title"] = "Szczegóły struktury";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-2">Szczegóły struktury</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @*@Html.DisplayNameFor(model => model.StructureId)*@
            Id struktury:
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.StructureId)
        </dd>
        <dt class = "col-sm-4">
            @*@Html.DisplayNameFor(model => model.CreatedById)*@
            Utworzene przez:
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.CreatedById)
        </dd>
        <dt class = "col-sm-4">
            @*@Html.DisplayNameFor(model => model.CreatedDateTime)*@
            Data utworzenia:
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>
        <dt class = "col-sm-4">
            @*@Html.DisplayNameFor(model => model.ModifiedById)*@
            Zmodyfikowane przez:
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ModifiedById)
        </dd>
        <dt class = "col-sm-4">
            @*@Html.DisplayNameFor(model => model.ModifiedDateTime)*@
            Data ostatniej modyfikacji:
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ModifiedDateTime)
        </dd>
        <dt class = "col-sm-4">
            @*@Html.DisplayNameFor(model => model.ProductName)*@
            Nazwa produktu:
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-4">
            @*@Html.DisplayNameFor(model => model.StructureName)*@
            Nazwa struktury:
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.StructureName)
        </dd>
        <dt class = "col-sm-4">
            @*@Html.DisplayNameFor(model => model.Project)*@
            Projekt:
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Project)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edytuj", "EditStructure", new { id = Model.StructureId }, new { @class = "btn btn-primary" }) |
    <a class="btn btn-secondary" asp-action="StructuresList">Wróć do listy struktur</a> |
    @Html.ActionLink("Lista przedmiotów dla struktury", "ItemsListFromStructure", "Item", new { structureId = Model.StructureId }, new { @class = "btn btn-primary" })
</div>
