@model Warehouse.Application.ViewModels.Item.ItemsStructuresListVM

@{
    ViewData["Title"] = "AssignItemToStructures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Assign Item To Structure</h1>

<form asp-action="AssignItemToStructures" method="post">
    <input type="hidden" asp-for="@Model.ItemId" />
    <table class="table">
        <thead>
            <tr>

                <th>
                    Items quantity for Structure
                </th>
                <th>
                    Structure id
                </th>
                <th>
                    Structure name
                </th>
                <th>
                    Project
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.ItemStructures.Count; i++)
            {
                <tr>
                    <td>
                        <input asp-for="@Model.ItemStructures[i].ItemQty" class="form-control" />
                        <input type="hidden" asp-for="@Model.ItemStructures[i].ItemId" value="@Model.ItemId" class="form-control" />
                        <input type="hidden" asp-for="@Model.ItemStructures[i].StructureId" value="@Model.ItemStructures[i].StructureId" class="form-control" />
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.ItemStructures[i].StructureId)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.ItemStructures[i].StructureName)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.ItemStructures[i].ProjectName)
                    </td>
                </tr>

            }
        </tbody>
    </table>
    <input type="submit" value="Assign" class="btn btn-primary" />
</form>