@model Warehouse.Application.ViewModels.Item.ItemsStructuresListVM

@{
    ViewData["Title"] = "AssignItemToStructures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Przypisz przedmiot do Struktur</h3>

<form asp-action="AssignItemToStructures" method="post">
    <input type="hidden" asp-for="@Model.ItemId" />
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">
                    #
                </th>
                <th scope="col" style="max-width: 80px">
                    Ilość przedmiotów dla tej struktury
                </th>
                <th scope="col">
                    Nazwa struktury
                </th>
                <th scope="col">
                    Projekt
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.ItemStructures.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => m.ItemStructures[i].StructureId)
                    </td>
                    <td  style="max-width: 80px">
                        <input asp-for="@Model.ItemStructures[i].ItemQty" class="form-control" />
                        <input type="hidden" asp-for="@Model.ItemStructures[i].ItemId" value="@Model.ItemId" class="form-control" />
                        <input type="hidden" asp-for="@Model.ItemStructures[i].StructureId" value="@Model.ItemStructures[i].StructureId" class="form-control" />
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.ItemStructures[i].StructureName)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.ItemStructures[i].ProjectName)
                    </td>
                </tr>

            }
        </tbody>
    </table>
    <input type="submit" value="Przypisz" class="btn btn-primary" />
</form>