@model Warehouse.Application.ViewModels.Item.ItemDetailsVM

@{
    ViewData["Title"] = "ItemDetails";
}

<h1>Szczegóły wybranego przedmiotu:</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-sm-7">
            <dl class="row">
                <dt class="col-sm-6">
                    @*@Html.DisplayNameFor(model => model.Id)*@
                    Nr id:
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Id)
                </dd>
                <dt class="col-sm-6">
                    @*@Html.DisplayNameFor(model => model.CreatedById)*@
                    Utworzony przez:
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.CreatedById)
                </dd>
                <dt class="col-sm-6">
                    @*@Html.DisplayNameFor(model => model.CreatedDateTime)*@
                    Data utworzenia:
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.CreatedDateTime)
                </dd>
                <dt class="col-sm-6">
                    @*@Html.DisplayNameFor(model => model.ModifiedById)*@
                    Ostatnio zmodyfikowane przez:
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.ModifiedById)
                </dd>
                <dt class="col-sm-6">
                    @*@Html.DisplayNameFor(model => model.ModifiedDateTime)*@
                    Data ostatniej modyfikacji:
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.ModifiedDateTime)
                </dd>
                <dt class="col-sm-6">
                    @*@Html.DisplayNameFor(model => model.Name)*@
                    Nazwa:
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-6">
                    @*@Html.DisplayNameFor(model => model.Description)*@
                    Opis:
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-6">
                    @*@Html.DisplayNameFor(model => model.CatalogNumber)*@
                    Numer katalogowy:
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.CatalogNumber)
                </dd>
                <dt class="col-sm-6">
                    @*@Html.DisplayNameFor(model => model.DrawingNumber)*@
                    Numer rysunku:
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.DrawingNumber)
                </dd>
                <dt class="col-sm-6">
                    @*@Html.DisplayNameFor(model => model.LowQuantityValue)*@
                    Niska ilość:
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.LowQuantityValue)
                </dd>
                <dt class="col-sm-6">
                    @*@Html.DisplayNameFor(model => model.SupplierName)*@
                    Dostawca:
                </dt>
                @if (Model.SupplierName == null)
                {
                    <dd class="col-sm-6 badge badge-warning text-wrap">
                        dostawca nie przypisany
                    </dd>
                }
                else
                {
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.SupplierName)
                    </dd>
                }
                <dt class="col-sm-6">
                    @*@Html.DisplayNameFor(model => model.Quantity)*@
                    Ilość w magazynie:
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Quantity)
                </dd>
            </dl>
        </div>
        <div class="col-sm-5">
            <dl>
                <dt class="col-sm-12">
                    @*@Html.DisplayNameFor(model => model.MagazineZoneName)*@
                    Strefa magazynu:
                </dt>
                <dd class="col-sm-12">
                    @Html.DisplayFor(model => model.MagazineZoneName)
                </dd>
            </dl>
            <div class="col-sm-12">
                @if (Model.ImageFile.Any())
                {
                    <img src="@Model.ImageData" class="img-fluid" alt="Responsive image" />
                }
                else
                {
                    <a>brak zdjęcia</a>
                }
            </div>
        </div>
    </div>
</div>
<hr />
<h4 class="mt-4 mb-2">Występuje w strukturach:</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nazwa
            </th>
            <th>
                Ilość
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model.StructuresForItemDetails)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => s.StructureId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => s.StructureName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => s.QuantityForStructure)
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />
<h4 class="mt-4 mb-2">Zaewidencjonowania (przyjęcia):</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Data
            </th>
            <th>
                Zrealizowane przez
            </th>
            <th>
                Ilość
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model.CheckIns)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => s.CheckInId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => s.ActionDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => s.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => s.Quantity)
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />
<h4 class="mt-4 mb-2">Wyewidencjonowania (pobrania):</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Data
            </th>
            <th>
                Zrealizowane przez
            </th>
            <th>
                Ilość
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model.CheckOuts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => s.CheckOutId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => s.ActionDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => s.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => s.Quantity)
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />
<form asp-action="AssignItemToSupplier" asp-controller="Item" method="post">
    <div class="col-12 m-2">
        @Html.ActionLink("Edytuj", "EditItem", new { id = Model.Id }, new { @class = "btn btn-primary m-2" }) |
        <a class="btn btn-secondary" asp-action="ItemsList">Wróć do listy przedmiotów</a> |
        @Html.ActionLink("Przypisz do dostawcy", "AssignItemToSupplier", new { itemId = Model.Id }, new { @class = "btn btn-primary m-2" }) |
        @Html.ActionLink("Przypisz do struktury", "AssignItemToStructures", new { itemId = Model.Id }, new { @class = "btn btn-primary m-2" })
    </div>
</form>