@model Warehouse.Application.ViewModels.Item.ItemDetailsVM

@{
    ViewData["Title"] = "ItemDetails";
}

<h1>ItemDetails</h1>

<div>
    <h4>ItemDetailsVM</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedById)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedById)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedById)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedById)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LowQuantityValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LowQuantityValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupplierName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>
    <h4>Structures</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Quantity
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in Model.StructuresForItemDetails)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => s.StructureId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => s.StructureName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => s.QuantityForStructure)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <h4>Check Ins</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    DateTime
                </th>
                <th>
                    Quantity
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in Model.CheckIns)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => s.CheckInOutId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => s.ActionDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => s.Quantity)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <h4>Check Outs</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    DateTime
                </th>
                <th>
                    Quantity
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in Model.CheckOuts)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => s.CheckInOutId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => s.ActionDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => s.Quantity)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @Html.ActionLink("Edit", "EditItem", new { id = Model.Id }) |
    <a asp-action="ItemsList">Back to List</a>
</div>
