@model Warehouse.Application.ViewModels.Supplier.SupplierDetailsVM

@{
    ViewData["Title"] = "SupplierDetails";
}

<h1>Szczegóły dotyczące dostawcy</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-6">
            <dl class="row">
                <dt class="col-md-5">
                    @*@Html.DisplayNameFor(model => model.Id)*@
                    Nr id:
                </dt>
                <dd class="col-md-7">
                    @Html.DisplayFor(model => model.Id)
                </dd>
                <dt class="col-md-5">
                    @*@Html.DisplayNameFor(model => model.CreatedById)*@
                    Utworzony przez:
                </dt>
                <dd class="col-md-7">
                    @Html.DisplayFor(model => model.CreatedById)
                </dd>
                <dt class="col-md-5">
                    @*@Html.DisplayNameFor(model => model.CreatedDateTime)*@
                    Data utworzenia:
                </dt>
                <dd class="col-md-7">
                    @Html.DisplayFor(model => model.CreatedDateTime)
                </dd>
                <dt class="col-md-5">
                    @*@Html.DisplayNameFor(model => model.ModifiedById)*@
                    Ostatnio zmodyfikowane przez:
                </dt>
                <dd class="col-md-7">
                    @Html.DisplayFor(model => model.ModifiedById)
                </dd>
                <dt class="col-md-5">
                    @*@Html.DisplayNameFor(model => model.ModifiedDateTime)*@
                    Data ostatniej modyfikacji:
                </dt>
                <dd class="col-md-7">
                    @Html.DisplayFor(model => model.ModifiedDateTime)
                </dd>
                <dt class="col-md-5">
                    @*@Html.DisplayNameFor(model => model.Name)*@
                    Nazwa:
                </dt>
                <dd class="col-md-7">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt  class="col-md-5">
                    @*@Html.DisplayNameFor(model => model.NIP)*@
                    NIP:
                </dt>
                <dd class="col-md-7">
                    @Html.DisplayFor(model => model.NIP)
                </dd>
                <dt  class="col-md-5">
                    @*@Html.DisplayNameFor(model => model.Email)*@
                    Email:
                </dt>
                <dd class="col-md-7">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt  class="col-md-5">
                    @*@Html.DisplayNameFor(model => model.PhoneNo)*@
                    Nr telefonu:
                </dt>
                <dd class="col-md-7">
                    @Html.DisplayFor(model => model.PhoneNo)
                </dd>
                <dt  class="col-md-5">
                    @*@Html.DisplayNameFor(model => model.City)*@
                    Miasto:
                </dt>
                <dd class="col-md-7">
                    @Html.DisplayFor(model => model.City)
                </dd>
                <dt  class="col-md-5">
                    @*@Html.DisplayNameFor(model => model.ZipCode)*@
                    Kod pocztowy:
                </dt>
                <dd class="col-md-7">
                    @Html.DisplayFor(model => model.ZipCode)
                </dd>
                <dt  class="col-md-5">
                    @*@Html.DisplayNameFor(model => model.Street)*@
                    Ulica:
                </dt>
                <dd class="col-md-7">
                    @Html.DisplayFor(model => model.Street)
                </dd>
                <dt  class="col-md-5">
                    @*@Html.DisplayNameFor(model => model.BuildingNo)*@
                    Numer budynku:
                </dt>
                <dd class="col-md-7">
                    @Html.DisplayFor(model => model.BuildingNo)
                </dd>
                <dt  class="col-md-5">
                    @*@Html.DisplayNameFor(model => model.IsActive)*@
                    Aktywny:
                </dt>
                <dd class="col-md-7">
                    @Html.DisplayFor(model => model.IsActive)
                </dd>
            </dl>
        </div>
        <div class="col-6">
            <dl class="row">
                <dt  class="col-md-5">
                    @*@Html.DisplayNameFor(model => model.ContactPersonName)*@
                    Imię
                </dt>
                <dd class="col-md-7">
                    @Html.DisplayFor(model => model.ContactPersonName)
                </dd>
                <dt  class="col-md-5">
                    @*@Html.DisplayNameFor(model => model.ContactPersonSurname)*@
                    Nazwisko
                </dt>
                <dd class="col-md-7">
                    @Html.DisplayFor(model => model.ContactPersonSurname)
                </dd>
                <dt  class="col-md-5">
                    @*@Html.DisplayNameFor(model => model.ContactPersonEmail)*@
                    Email
                </dt>
                <dd class="col-md-7">
                    @Html.DisplayFor(model => model.ContactPersonEmail)
                </dd>
                <dt  class="col-md-5">
                    @*@Html.DisplayNameFor(model => model.ContactPersonPhoneNo)*@
                    Telefon
                </dt>
                <dd class="col-md-7">
                    @Html.DisplayFor(model => model.ContactPersonPhoneNo)
                </dd>
            </dl>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Edytuj", "EditSupplier", new { id = Model.Id }, new { @class = "btn btn-primary" }) |
    <a class="btn btn-secondary" asp-action="SuppliersList">Wróć do listy dostawców</a> |
    @Html.ActionLink("Lista przedmiotów od tego dostawcy", "ItemsListFromSupplier", "Item", new { supplierId = Model.Id }, new { @class = "btn btn-primary" })
</div>
