@model Warehouse.Application.ViewModels.Supplier.SuppliersListForListVM

@{
    ViewData["Title"] = "Dostawcy";
}

<h1>Lista dostawców</h1>

    <p>
        <a asp-action="EditSupplier">Utwórz nowego dostawcę</a>
    </p>

    <form asp-action="SuppliersList" asp-controller="Supplier" method="post">
        <div class="row">
            <input class="col-4 m-1 form-control-sm" type="text" asp-for="SearchString" name="searchString" />
            <input class="col-2 m-1 btn btn-sm btn-primary" type="submit" value="Szukaj" />
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Nazwa
                    </th>
                    <th>
                        NIP
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Aktywny
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Suppliers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NIP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            @Html.ActionLink("Edytuj", "EditSupplier", new { id = item.Id }) |
                            @Html.ActionLink("Szczegóły", "SupplierDetails", new { id = item.Id }) |
                            @Html.ActionLink("Usuń", "SetIsDeletedSupplier", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="row">
            <div page-model="@Model.PaggingInfo" page-action="SuppliersList"></div>
        </div>
    </form>
